<div class="container">
  <div class="login-card-border-wrap">
    <div class="login-card">
      <div class="header-container">
        <mat-icon>star</mat-icon>
        <h3>Taggin'</h3>
      </div>
      <div class="content-container">
        <div class="fields-container">
          <app-text-input label="Nome" type="input" icon="person" [(ngModel)]="userName"></app-text-input>
          <app-text-input label="Senha" type="password" icon="lock" [(ngModel)]="password"></app-text-input>
        </div>
        <div class="actions-container">
          <button>Entrar</button>
          <button>Criar uma conta</button>
        </div>
      </div>
    </div>
  </div>
</div>
