$primary: #115799;
$secondary: #d038ef;
$white: #fff;
$gray: #9b9b9b;
$dark-gray: #5e5e5e;

.container {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;
  justify-content: start;
}

.form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $dark-gray;
  outline: 0;
  font-size: 1rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  color: $gray;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.6rem;
  color: $dark-gray;
}

.form-field:focus {
  ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
  }
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form-field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.invalid-form {
  color: rgb(255, 127, 127);
  font-size: 0.7em;
}

mat-icon {
  color: $dark-gray;
  padding: 5px;
}
